/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* line 19, ../../src/scss/style.scss */
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* line 24, ../../src/scss/style.scss */
html {
  height: 100%;
}

/* line 28, ../../src/scss/style.scss */
body {
  height: 100%;
  width: 100% !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

/* line 35, ../../src/scss/style.scss */
.angucomplete-dropdown {
  background-color: #f5f5f5;
}

/* line 39, ../../src/scss/style.scss */
.weather-now {
  margin-top: 5%;
}
