<div class="container weather-now">

<div class="col-xs-12" ng-show="CurrentLocation.coords">
    <h2>Weather in {{weather.city}}, {{weather.country}}</h2>
      
    <weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
      
    <h3>Current: {{ weather.temp.current | temp:2 }}</h3>
    
    min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}

  </div>
  <form class="col-xs-7">
    <div class="form-group col-xs-9">
      
      <angucomplete id="my-address" ng-model="selectedCountry"
                placeholder="Search countries"
                pause="100"
                selectedobject="selectedCountry"
                localdata="countries"
                searchfields="name"
                titlefield="name"
                minlength="1"
                inputclass="form-control form-control-small col-xs-6 "/>
    </div>
    
    <button type="submit" class="btn btn-default col-xs-3" ng-click="codeAddress(selectedCountry)">Go</button>
  </form>

  
</div>